<div class="main_breadcrumb">
  <a
    class="appraisal_form"
    routerLink="/appraisal/appraisal-form"
    routerLinkActive="active"
    >APPRAISAL FORM</a
  >
  <a
    class="goals"
    routerLink="/appraisal/goals"
    routerLinkActive="active"
    >GOALS</a
  >
  <a
    class="achievements"
    routerLink="/appraisal/achievements"
    routerLinkActive="active"
    >ACHIEVEMENTS</a
  >
  <a
    class="final_submit"
    routerLink="/appraisal/review-form"
    routerLinkActive="active"
    >FINAL SUBMIT</a
  >
</div>

<router-outlet></router-outlet>
