.main_wrapper {
  .nav {
    justify-content: space-between;
    max-width: 783px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid rgba(151, 151, 151, 0.202814);
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }
  .nav-link {
    font-size: 12px;
    line-height: 1.5;
    padding: 11px 29px;
    border-radius: 8px;
    color: #1a051d;
    background-color: white;
  }
  .nav-link.active {
    background: #5d38db;
    color: white;
  }
}
