<div class="basic-container">
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <h2>Review Appraisal Form</h2>
  <div class="main_wrapper">
    <div class="main_top_wrapper">
      <div class="top_inner">
        <div class="top_title_wrapper">
          <h3>appraisee rating</h3>
        </div>
        <div class="two_col_wrapper">
          <div class="left_col_wrapper">
            <div class="content">
              <span>Weighted</span>
              <p>3.35</p>
            </div>
          </div>
          <div class="right_col_wrapper">
            <div class="content">
              <span>Normal</span>
              <p>3.36</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- mat-accordion -->
    <mat-accordion>
      <div class="form_wrapper">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            APPRAISAL FORM
          </mat-expansion-panel-header>
          <div class="main_form">
            <div class="head">Technical Competency</div>
            <div class="page_center">
              <div class="left_form">
                <div class="heading">Parameters</div>
                <div class="params">Delivery Of project</div>
                <div class="params">Designing</div>
                <div class="params">Problem Solving</div>
              </div>
              <div class="right_form">
                <div class="heading">My Review</div>

                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="head" style="border-top: 1px solid #efefef">
              Behavioural Competency
            </div>
            <div class="page_center">
              <div class="left_form">
                <div class="heading">Parameters</div>
                <div class="params">Relaibility</div>
                <div class="params">Organization Skills</div>
                <div class="params">Interpersonal Realtionships</div>
                <div class="params">Initiative</div>
                <div class="params">Communication Skills</div>

                <div class="params">
                  Adherence to Quality and Safety Standards
                </div>
              </div>
              <div class="right_form">
                <div class="heading">My Review</div>     
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
                <div class="review">
                  <div class="numbers">
                    <span class="serial-number">1</span>
                    <span class="serial-number">2</span>
                    <span class="serial-number">3</span>
                    <span class="serial-number">4</span>
                    <span class="serial-number non-active">5</span>
                  </div>
                  <div class="comment">
                    <span
                      >Works efficiently and effectively to meet deadlines
                      regardless of whether one is under pressure or not</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="goals_wrapper">
        <mat-expansion-panel>
          <mat-expansion-panel-header> GOALS </mat-expansion-panel-header>
          <!-- <app-appraisal-goals></app-appraisal-goals> -->
          <div class="main_goals">
            <div class="page_center">
              <div class="left">
                <div class="heading">
                  <h3>GOALS</h3>
                </div>
                <div class="goals">
                  <p>
                    1. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team
                  </p>
                </div>
                <div class="goals">
                  <p>
                    2. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team
                  </p>
                </div>
                <div class="goals">
                  <p>
                    3. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team
                  </p>
                </div>
                <div class="goals">
                  <p>
                    4. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team
                  </p>
                </div>
                <div class="goals">
                  <p>
                    5. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team
                  </p>
                </div>
              </div>
              <div class="right">
                <div class="heading">
                  <h3>COMMENT</h3>
                </div>
                <div class="comments">
                  <p>
                    Works efficiently and effectively to meet deadlines
                    regardless of whether one is under pressure or not
                  </p>
                </div>
                <div class="comments">
                  <p>
                    Works efficiently and effectively to meet deadlines
                    regardless of whether one is under pressure or not
                  </p>
                </div>
                <div class="comments">
                  <p>
                    Works efficiently and effectively to meet deadlines
                    regardless of whether one is under pressure or not
                  </p>
                </div>
                <div class="comments">
                  <p>
                    Works efficiently and effectively to meet deadlines
                    regardless of whether one is under pressure or not
                  </p>
                </div>
                <div class="comments">
                  <p>
                    Works efficiently and effectively to meet deadlines
                    regardless of whether one is under pressure or not
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="achievements_wrapper">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ACHIEVEMENTS
          </mat-expansion-panel-header>
          <!-- <app-appraisal-achievements></app-appraisal-achievements> -->
          <div class="main_achievements">
            <div class="inner">
              <!-- <div class="title">
                <h3>My Achievement</h3>
              </div> -->
              <div class="achievements_wrapper">
                <div class="achievements">
                  <p>
                    1. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
                <div class="achievements">
                  <p>
                    2. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
                <div class="achievements">
                  <p>
                    3. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
                <div class="achievements">
                  <p>
                    4. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
                <div class="achievements">
                  <p>
                    5. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
                <div class="achievements">
                  <p>
                    6. Develop leadership skill for improving management and
                    understanding among the team members and if required will
                    lead the team. Develop leadership skill for improving
                    management and understanding among the team members and if
                    required will lead the team
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        (change)="changeEvent($event)"
      />
      <label class="form-check-label" for="flexCheckDefault">
        I have been advised of my performance rating. I have discussed the
        contents of this review with my manager. I hereby declare that the
        comments/ratings provided is accurate and I will be liable of any
        further action/implication to the same.
      </label>
    </div>
  </div>
  <div class="button">
    <button
      class="save_btn"
      
      
      [style.backgroundColor]="isDisable ? '#92E2CE' : '#59C58D'"
      >
      SUBMIT
    </button>
  </div>
</div>
