.filter-wrapper {
  display: flex;
}

.emp-table-wrapper {
  margin: 0 auto;
  .table-responsive {
    display: block;
    width: 100%;
    max-height: 70vh;
    overflow: auto;

    .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
      border-radius: 6px;
      padding: 5px 0px;
      height: 100%;
    }
    .mat-row,
    .mat-header-row {
      display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 3px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      line-height: 45px;
      font-size: smaller;
      top: -2px !important;
    }
    .mat-cell {
      font-family: "Lato", sans-serif;
    }
    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type,
    .mat-footer-cell:first-of-type {
      padding-left: 10px;
    }

    td.mat-cell.cdk-cell.cdk-column-location.mat-column-location {
      color: #a4a5a6;
    }

    td.mat-cell.cdk-cell.cdk-column-extension.mat-column-extension {
      padding-left: 24px;
    }
  }
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
  line-height: 45px;
  font-family: "Lato", sans-serif;
  border-color: #f7f7f7;
  padding: 5px;
  height: 30%;
  border-color: #f7f7f7;
}
th,
tr {
  height: 30%;
  border-color: #f7f7f7;
}

.mat-header-cell:last-of-type {
  padding-left: 20px;
}
.mat-cell:last-of-type {
  padding-left: 18px;
  line-height: 1.2;
}
.mat-column-name {
  .name {
    display: flex;
    line-height: 1.3;
  }
  .table-emp-name:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
  }
  .initials {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
  }
  .position {
    color: #a4a5a6;
    font-size: 12px;
    font-weight: 400;
  }
}

.mat-header-cell {
  font-size: 12px;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  color: #727373;
  text-align: left;
  font-weight: 700;
  line-height: 40px;
  padding: 7px;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0em;
}

//Arrow

::ng-deep .mat-sort-header-arrow[style] {
  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}

[aria-sort="ascending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: " <i class=" fa fa-sort ">...</i>";
        top: -1.6em;
        position: absolute;
      }
    }
  }
}

// My custom descending arrow
[aria-sort="descending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "<i class=" fa fa-sort ">...</i>";
        top: -2.4em;
        position: absolute;
      }
    }
  }
}

//Mat-card

.content {
  margin: 0 auto;
  max-height: 70vh;
  overflow: auto;
}
.content > mat-card {
  height: 250px;
  width: 250px;
  .img {
    padding: 10px;
  }
}
.mat-card-image {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}
.mat-card {
  box-shadow: none;
  .name {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #393939;
  }
  .position {
    color: #828282;

    font-size: 12px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
  }
  .more {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #5d38db;
    cursor: pointer;
  }
}

// Search and filter

.row {
  margin-top: 17px !important;
  margin-right: 10px !important;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  // margin-top: -20px;

  .search {
    font-family: "Lato", sans-serif;
    // line-height: 24px;
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 30px;
    // max-width: 427px;
    // width: 380px;
    min-width: 300px;
    width: 100%;
    padding-left: 10px;
    .clear{
      background: none;
      border: none;
      padding: 0px;
      margin-left: -32px;
      height: 0px;
      width: 0px;
    }
  }
  .filter {
    font-family: "Lato", sans-serif;
    line-height: 24px;
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 37px;
    max-width: 240px;
    width: 230px;
  }

  .result {
    font-family: "Lato", sans-serif;
    line-height: 24px;
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 37px;
    max-width: 90px;
    width: 80px;
  }
  .text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    padding: 23px 20px;
  }
  .btn-primary {
    color: black;
    background-color: white;
    width: 8px;
    height: 0.94px;
  }
}
.icons {
  display: flex;

  padding-left: 20px;
  padding-top: 20px;

  input[type="radio"],
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    opacity: 0;
  }
  .divider {
    color: #8d8b8b;
    // position: absolute;
    height: 24px;
    width: 1px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.btnClicked {
  width: 24px;
  height: 24px;
  box-shadow: 0 7px 11px rgb(0 0 0 / 20%);
  background: rgb(108, 43, 226);
  vertical-align: middle;
  padding-left: 3px;

  svg path {
    fill: #f7f7f7 !important;
    // stroke: #f7f7f7  !important;
  }

}
svg{
  cursor: pointer;
}s

.btnClicked:hover {
  background: rgb(108, 43, 226);
  fill: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
  .mat-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}
.cdk-overlay-pane {
  margin-top: 30px !important;
  min-width: 200px !important;
  margin-left: 5px !important;
}

.hello{
  height: 100vh;
  width: 100%;
  background-color: white;
}

// @media (max-width: 1314px) {
//   table {
//     border-collapse: collapse;
//     font-family: "Lato", sans-serif;
//     min-width: 984px;
//     background-color: white;
//     max-width: 1125px !important;

//     .mat-column-name {
//       width: 24%;
//     }
//     .mat-column-department {
//       width: 18%;
//     }
//     .mat-column-email {
//       width: 21%;
//     }
//     .mat-column-mobileno {
//       width: 9%;
//     }
//     .mat-column-extension {
//       width: 9%;
//       // padding-left: 25px;
//     }
//     .mat-column-location {
//       width: 16%;
//     }
//   }
// }
