<div class="dashboard_bottom_left">
  <div class="top">
    <h3>Team Attendance</h3>
    <div class="sub_heading">
      <div class="name">NAME</div>
      <div class="in_time">IN-TIME</div>
      <div class="out_time">OUT-TIME</div>
      <div class="total_hours">TOTAL HOURS</div>
    </div>
  </div>
  <div class="bottom">
    <div class="description">
      <div class="emp_name_wrapper">
        <div class="image_wrapper">
          <img
            width="35px"
            height="35px"
            src="../../../../../../assets/img/user.jpg"
          />
        </div>
        <div class="emp_name">Rajat Bhandari</div>
      </div>
      <div class="emp_in_time">12:44 PM</div>
      <div class="emp_out_time">08:44 PM</div>
      <div class="emp_total_hours">8.5</div>
    </div>
    <div class="description">
      <div class="emp_name_wrapper">
        <div class="image_wrapper">
          <img
            width="35px"
            height="35px"
            src="../../../../../../assets/img/user.jpg"
          />
        </div>
        <div class="emp_name">Rajat Bhandari</div>
      </div>
      <div class="emp_in_time">12:44 PM</div>
      <div class="emp_out_time">08:44 PM</div>
      <div class="emp_total_hours">8.5</div>
    </div>
    <div class="description">
      <div class="emp_name_wrapper">
        <div class="image_wrapper">
          <img
            width="35px"
            height="35px"
            src="../../../../../../assets/img/user.jpg"
          />
        </div>
        <div class="emp_name">Rajat Bhandari</div>
      </div>
      <div class="emp_in_time">12:44 PM</div>
      <div class="emp_out_time">08:44 PM</div>
      <div class="emp_total_hours">8.5</div>
    </div>
  </div>
</div>
