.button-wrapper {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    button {
      margin: 0 10px;
    }
    .save_btn {
        border: 0;
        height: 37px;
        width: 90px;
        // background: #21ae24;
        color: #fff;
        font-size: 12px;
        line-height: 1;
        padding: 10px 20px;
        border-radius: 6px;
        // margin-left: 25px !important;
        font-family: "Montserrat", sans-serif;
        box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
      }
}
.item {
    margin-top: 20px;
    .head {
      span {
        font-family: "Montserrat", sans-serif;
        color: #727373;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .input {
      input {
        width: 300px;
        border-radius: 6px;
        height: 48px;
        background-color: white;
        border: none;
        font-family: "Lato", sans-serif;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 10px;
      }

    }
    .input {
        textarea {
            width: 889px;
            border-radius: 6px;
            height: 94px;
            background-color: white;
            border: none;
            font-family: "Lato", sans-serif;
            margin-top: 5px;
            margin-bottom: 10px;
            padding: 10px;
        }
    }
}