<div class="dashboard_mid_left_inner">
  <div class="top">
    <mat-tab-group>
      <!-- All -->
      <mat-tab label="All"> All Updates here </mat-tab>
      <!-- Updates -->
      <mat-tab label="Updates">
        <div class="bottom">
          <div class="updates">
            <div class="employee_img">
              <img
                src="../../../../../../assets/img/user.jpg"
                width="40px"
                height="40px"
              />
            </div>
            <div class="update_heading">
              <h4>Glimpse of Saturday Cricket Match!</h4>
              <p>
                Team A won the match. The match was held on 27th October was no
                less of an exciting. Team A won the match. The match was held on
                27th October was no less of an exciting. Team A won the match.
                The match was held on 27th October was no less of an exciting.
              </p>
            </div>
          </div>
          <div class="updates">
            <div class="employee_img">
              <img
                src="../../../../../../assets/img/user.jpg"
                width="40px"
                height="40px"
              />
            </div>
            <div class="update_heading">
              <h4>Programming Competition</h4>
              <p>
                Programming Competition The Techno Club brings to you yet
                another exciting Programming Competition today. This time we
                will have 3 problems of Team A won the match. The match held on
                27th October was no less of an exciting..Read More
              </p>
            </div>
          </div>
          <div class="updates">
            <div class="employee_img">
              <img
                src="../../../../../../assets/img/user.jpg"
                width="40px"
                height="40px"
              />
            </div>
            <div class="update_heading">
              <h4>Professional Photoshoot || 9th January 2019!</h4>
              <p>
                Professional Photoshoot || 9th January 2019! The photographer
                will be available in the Sagittarius meeting Room till 6 PM
                today. All those who missed the professional Team A won the
                match. The match held on 27th October was no less of an
                exciting..Read More
              </p>
            </div>
          </div>
          <div class="updates">
            <div class="employee_img">
              <img
                src="../../../../../../assets/img/user.jpg"
                width="40px"
                height="40px"
              />
            </div>
            <div class="update_heading">
              <h4>Birthday Celebrations || December Month!</h4>
              <p>
                Team A won the match. The match was held on 27th October was no
                less of an exciting. Team A won the match. The match was held on
                27th October was no less of an exciting. Team A won the match.
                The match was held on 27th October was no less of an exciting.
              </p>
            </div>
          </div>
          <div class="updates">
            <div class="employee_img">
              <img
                src="../../../../../../assets/img/user.jpg"
                width="40px"
                height="40px"
              />
            </div>
            <div class="update_heading">
              <h4>Birthday Celebrations || December Month!</h4>
              <p>
                Team A won the match. The match was held on 27th October was no
                less of an exciting. Team A won the match. The match was held on
                27th October was no less of an exciting. Team A won the match.
                The match was held on 27th October was no less of an exciting.
              </p>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- Birthday -->
      <mat-tab label="Birthday"> Display Birthday here </mat-tab>
      <!-- Work Anniversaies -->
      <mat-tab label="Work Anniversaries">
        Display Work Anniversaies here
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="#"
          routerLinkActive="active"
        >
          <span>All</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">
          <span>Updates</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">
          <span>Birthday</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">
          <span>Work Anniversaries</span></a
        >
      </li>
    </ul> -->
