<div class="main">
  <app-breadcrumb></app-breadcrumb>
  <div class="page_center">
    <div class="left">
      <div class="heading">
        <h3>GOALS</h3>
      </div>
      <div class="goals">
        <p>
          1. Develop leadership skill for improving management and understanding
          among the team members and if required will lead the team
        </p>
      </div>
      <div class="goals">
        <p>
          2. Develop leadership skill for improving management and understanding
          among the team members and if required will lead the team
        </p>
      </div>
      <div class="goals">
        <p>
          3. Develop leadership skill for improving management and understanding
          among the team members and if required will lead the team
        </p>
      </div>
      <div class="goals">
        <p>
          4. Develop leadership skill for improving management and understanding
          among the team members and if required will lead the team
        </p>
      </div>
      <div class="goals">
        <p>
          5. Develop leadership skill for improving management and understanding
          among the team members and if required will lead the team
        </p>
      </div>
    </div>
    <div class="right">
      <div class="heading">
        <h3>COMMENT</h3>
      </div>
      <div class="comments"></div>
      <div class="comments"></div>
      <div class="comments"></div>
      <div class="comments"></div>
      <div class="comments"></div>
    </div>
  </div>
  <div class="buttons">
    <button class="save_btn">SAVE</button>
    <button class="start_btn">START</button>
  </div>
</div>
