.main {
  .inner {
    padding: 0;
    display: flex;
    margin: 0 auto;

    .left {
      position: relative;
      margin-top: 25px;
      // width: 50%;
      .calendar {
        margin-bottom: 10px;

        font-family: "Montserrat", sans-serif !important;
      }
      .Attention {
        color: rgb(108, 43, 226);
        font-family: "Montserrat", sans-serif !important;

        padding-left: 5px;
      }
      .s {
        font-family: "Montserrat", sans-serif !important;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .right {
      // max-width: 50%;
      width: 100%;
      float: none;
      position: relative;
      font-family: "Monteserrat", sans-serif !important;
      top: 3px;
      left: 0;
      margin-top: 25px;
      margin-left: 30px;
      padding: 0 10px;
      .right-first {
        display: flex;
        flex-wrap: wrap;
        .availability_wrapper {
          width: 100%;
          margin-bottom: 3px;
        }
        .input-wrapper {
          display: flex;
          margin-top: 5px;
          input {
            width: 18px;
            height: 18px;
          }
          input:checked {
            background-color: red;
          }

          label {
            margin: 0.5rem;
            margin-top: 0px;
            margin-right: 40px;
          }
        }

        .half-day {
          padding-right: 25px;
          .avail {
            font-size: small;
            font-family: "Montserrat";
            font-weight: bold;
          }
        }
        .mat-form-field {
          margin-top: 10px;
          background-color: #fff;
          border-radius: 6px;
          width: 150px;
          height: 48px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .mobile-mail {
        padding: 7px 24px;
        font-size: medium;
        font-family: "Monteserrat", sans-serif !important;

        // color: grey;
        border-color: #f2f2f2;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        vertical-align: middle;
        margin-bottom: 15px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .text {
          padding: 5px;
          font-family: "Lato";
          color: gray;
        }
      }
      .mobile-mail:hover {
        background: rgb(108, 43, 226) !important;
        color: white;
        .text {
          color: white;
        }
      }
      .mobile-mail .text:hover {
        color: white;
      }
    }
    .avail {
      color: rgba(0, 0, 0, 0.74);
      font-size: small;
      font-family: "Montserrat";
      font-weight: bold;
    }
    .half-day {
      margin-top: 5px;
      .avail {
        color: rgba(0, 0, 0, 0.74);
        font-size: small;
        font-family: "Montserrat";
        font-weight: bold;
      }
      .radio-btns {
        // display: flex;
        margin-top: 3px;
        input {
          margin-top: 4px;
          width: 18px;
          height: 18px;

        }
        label {
          vertical-align: middle;
          margin-left: 7px;
        }
      }
    }

    .btn-primary {
      .material-icons {
        display: inline-block;
        align-items: flex-start;
        justify-content: flex-start;
        vertical-align: middle;
        color: black;
      }
    }
    .leave_type_wrapper {
      margin-top: 5px;
      .leave {
        font-size: small;
        font-family: "Montserrat";
        font-weight: bold;

        color: rgba(0, 0, 0, 0.74);

        // padding-bottom: 10px;
      }
      .leave-inner {
        margin-top: 5px;
        .form-select {
          padding: 5px 11px;
          max-width: 130px;
          border: 1px solid black;
          border-radius: 5px;
          background-color: white;
        }
      }
      .leave-buttons {
        // background-color: #fff !important;
        max-width: fit-content;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 5px;

        .btn-secondary {
          padding: 5px 30px !important;
          margin: 10px 8px;
          display: block;
          background-color: #cfc9e4;
          border: none;
          color: white;
          font-size: 14px;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          border-radius: 30px;
        }
      }
    }
    .btn-secondary:hover {
      background: rgb(108, 43, 226) !important;
      color: white;
    }
    .reason_wrapper {
      width: 50%;
      // margin-top: 15px;
      // display: inline;
      .reason {
        font-size: small;
        font-family: "Montserrat";
        font-weight: bold;

        color: rgba(0, 0, 0, 0.74);
      }
      .reasons {
        background-color: white;
        border-radius: 10px;
        border-color: white;
        width: 500px;
        margin-top: 5px;
        padding-left: 5px;
        // margin-bottom: 20px;
        width: 100%;
        resize: none;
      }
    }

    .Attention {
      color: rgb(108, 43, 226);
      font-family: "Monteserrat", sans-serif !important;

      padding-left: 5px;
    }
    .s {
      font-family: "Lato";
      font-size: 12px;
      font-weight: 500;
    }
  }
}
.button {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .btn-success {
    background-color: #56bb4a;
    border-color: #56bb4a;
    padding: 7px 26px;
    font-size: 14px;
    font-family: "Monteserrat", sans-serif;
    margin-bottom: 10px;
    margin: 10px;
    // margin-right: 0px;
  }
  .reset {
    background-color: rgb(108, 43, 226);
    border: rgb(108, 43, 226);
    padding: 7px 26px;
    font-size: 14px;
    font-family: "Monteserrat", sans-serif;
    margin: 10px;
    margin-bottom: 0px;

    text-transform: uppercase;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  background: rgb(108, 43, 226) !important;
  border-color: rgb(108, 43, 226) !important;
}

::ng-deep .mat-datepicker-content {
  width: 322px !important;
  box-shadow: none !important;
  height: 374px !important;
}
::ng-deep .mat-input-underline {
  visibility: visible;
  z-index: -999;
}
.mat-calendar {
  // margin-right: 4rem;
  width: 334px !important;
}
.button-top {
  text-align: center;
  margin-bottom: 20px !important;
  background: white;
  width: 312px;
  padding: 2px 0px;
  margin: 0 auto;
  border-radius: 40px;
  border: 1px solid #757278;
  margin-top: 25px;
  .btn-primary {
    background-color: white;
    border-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #727373;
    padding: 10px 30px;
    border-radius: 30px;
  }
  // .btn-primary:hover {
  //   // background: #5d38db!important;
  //   font-weight: bolder;
  // }
  .active {
    // background-color: #5d38db !important;
    // border-color: #5d38db !important;
    // color: white !important;
    // font-weight: bolder;
    // border: black solid 1px !important;
    border: none !important;
    background: #5e40db;
    color: white;
  }
  label.focus {
    outline: none;
  }
}
.button-reason{
  display: flex;
  margin-top: 15px;
}
.formcheck_btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 88px;
  // padding-top: 50px;
  position: relative;
  top: 45px;
}
span.text-danger {
  font-family: "Lato", sans-serif;
}

textarea.ng-touched.ng-invalid {
  border: 1px solid red !important;
}
.invalid-input {
  border: 1px solid red !important;
}
.active {
  border: 1px solid red !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #82bd90 !important;
  border-color: #82bd90 !important;
}
// @media (max-width: 1100px) {
//   .inner {
//     flex-wrap: wrap;
//   }
// }
.info {
  margin-top: 5px !important;
}
label {
  display: inline-block;
  // margin: 0.5rem;
  font-family: "Montserrat";
  font-size: 12px;
  // margin-top: 2px;
}

mat-button-toggle-group.mat-button-toggle-group {
  flex-wrap: wrap !important;
}
::ng-deep .tooltip-pd {
  color: black !important;
  background: white;
  overflow: visible !important;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  left:-185px;
  top:-82px;
  width:300px;
  height:auto;


  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: calc(#{10px} * -2);
    right: calc(#{10px} + 10px);
    width: 0;
    height: 0;
    border: solid transparent;
  }

  &:after {
    border-top-color: white;
    border-width: calc(#{10px} + #{1px});
    margin-right: calc((#{10px} + #{1px}) * -1);
  }

  &:before {
    border-top-color: black;
    border-width: 10px;
    margin-right: -10px;
  }
}
.cal > textarea {
  width: inherit;
}
@media (max-width: 990px) {
  .inner {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 375px) and (max-width: 768px)  {
  ::ng-deep .tooltip-pd {
    position: absolute;
    left:-200px;
    top:-100px;
    width:300px;
    height:auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 350px){
  ::ng-deep .tooltip-pd {
    position: absolute;
    left:-200px;
    top:-130px !important;
    width:300px;
    height:auto;
  }
}
