<div class="main">
  <form [formGroup] = "submitLnsa" (ngSubmit) = onPostLnsa() >
  <div class="inner">

    <div class="left">
      <div class="calendar" >
        <mat-calendar [ngClass]= "{'active' : !selectedRangeValue.end}"
          #calendar
          [selected]="selectedRangeValue"
          [minDate]="startDate"
          (selectedChange)="selectedChange($event)"
          [dateClass]="dateClass()"
          [dateFilter]="filterDates"
        >
        </mat-calendar>
        <span class="text-danger" *ngIf="!selectedRangeValue.end">End Date is required</span>
      </div>
      <div class="info">
        <!-- <span class="Attention">Info: </span> -->
        <span class="s">*You are taking {{numofDates}} LNSA  from {{ selectedRangeValue.start | date:
          "yyyy-MM-dd" }} to
          {{ selectedRangeValue.end | date: "yyyy-MM-dd" }}</span>
      </div>
    </div>
    <div class="right">

      <div class="reason-button">
      <div class="reason_wrapper">
        <label class="reason">REASON</label>
        <div>
          <textarea
            class="reasons"
            name="reasons"
            rows="4"
            formControlName = "reason"
            class="reasons"
          ></textarea>
          <span class="text-danger" *ngIf="
          submitLnsa.controls['reason'].hasError('required') &&
          submitLnsa.controls['reason'].touched
        ">Reason is required</span>
        </div>
      </div>
      <div class="button">
        <button type="button" class="btn btn-primary reset btn-lg" (click) = "reset()">RESET</button>

        <button type="sumbit" class="btn btn-success btn-lg" [disabled]="!submitLnsa.valid || !selectedRangeValue">
          <span [matTooltip]="!submitLnsa.valid ? 'Please select Date Range and Reason ' : ''" [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip-pd'">APPLY</span></button>
       
      </div>
      </div>
    </div>
  
  </div>
</form>
  <div class="btn-group-toggle button-top" data-toggle="buttons">
    <label class="btn btn-primary btn-lg active" (click)="history()">
      <input type="radio" name="options" id="option2" checked />
      LNSA History
    </label>
  
    <label class="btn btn-primary btn-lg" (click)="status()">
      <input type="radio" name="options" id="option2" />
       Review Request
    </label>
  </div>
  <div [hidden] = "!leave_history" style="margin-bottom: 20px;">
    <app-table  (action)="delete($event)"  class="w-100" [tableData]='tableData' [displayedColumns] = 'displayedColumns' ></app-table>  
  </div>
  <div [hidden] = "!review_status" style="margin-bottom: 20px;">
    <app-review-table (approved)="approve($event)" (rejected)="reject($event)" (bulkApprove) = "bulk($event)"   class = "w-100" [displayedColumns] = 'reviewdisplayedColumns' [tableData] = 'reviewData'></app-review-table>
  </div>
  
</div>
