<div class="leave_counter">
  <div class="leave_counter_inner">
    <div class="top">
      <div class="wfh">
        <span>WFH</span>
        <p>{{WFH}}</p>
      </div>
      <div class="lnsa">
        <span>LNSA</span>
        <p>{{LNSA}}</p>
      </div>
    </div>
    <div class="bottom">
      <div class="lwp">
        <span>LWP</span>
        <p>{{LWP}}</p>
      </div>
      <div class="leave_status">
        <span>5 CL/year</span>
        <p>{{CLOY}}</p>
      </div>
    </div>
  </div>
</div>
