<div class="main">
    <div class="upper">
        <div class="left">
            <h5>Create</h5>
            <h3>Timesheet</h3>
            </div>
          <div class="right">
            <button  type="button"class="btn btn-primary copy">
                COPY FROM WEEK
            </button>
       </div>
    </div>
    <div class="middle">
        <div class="left1">
            <span class="week">week <span class="digit">3</span>(02/04/2019-02/10/2019)</span>
        </div>
        <div class="mid">
            <div class="total">
            <span class="time">Total Time Logged</span>
            <span class="hrs">(in Hrs)</span>
            <div id="square">
                <span>6</span>
            </div>
            </div>
        </div>
        <div class="right">
            <span class="status">Status&nbsp;:</span>
            <span class="submit"> Not submitted</span>
        </div>
    </div>
   <div class="table">
       <div class="left">
       <div class="days header">
           <span>Days</span>
       </div>
       <div class="days">
        <span>Monday</span><br>
        <span>(02/04/2019)</span>
    </div>
    <div class="days">
        <span>Tuesday</span><br>
       <span>(02/05/2019)</span>
    </div>
    <div class="days">
        <span>Wednesday</span><br>
        <Span>(02/06/2019)</Span>
    </div>
    <div class="days">
        <span>Thursday</span><br>
        <span>(02/07/2019)</span>
    </div>
    <div class="days">
        <span>Friday</span><br>
        <span>(02/08/2019)</span>
    </div>
    <div class="days">
        <span>Saturday</span><br>
        <span>(02/09/2019)</span>
    </div>
    <div  style ="border-bottom: none;"class="days">
        <span>Sunday</span><br />
        <span>(02/010/2019)</span>
    </div>
    </div>
    <div class="middle-table">
        <div class="aceapp header">
            <span>Aceapp</span>
        </div>
        <div class="aceapp">

        </div>
        <div class="aceapp">
            
        </div>
        <div class="aceapp">
            
        </div>
        <div class="aceapp">
            
        </div>
        <div class="aceapp">
            
        </div>
        <div class="aceapp">
            
        </div>
        <div style="border-bottom: none;"class="aceapp">
            
        </div>
    </div>
    <div class="right-table">
        <div class="project header">
            Project&nbsp;2
        </div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
        <div style="border-bottom: none;"class="project"></div>
    </div>
   </div>
   
</div>