.main-wrapper {
  .inner {
    padding: 10px 20px;
    // background: white;
  }

  .bottom {
    background: #ebecf3;
    padding: 29px 25px 5px;

    .table-responsive {
      display: block;
      width: 100%;
      max-height: 500px;
      overflow: auto;

      .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
        border-radius: 6px;
        padding: 5px 0px;
        height: 100%;
      }
      .mat-row,
      .mat-header-row {
        display: table-row;
      }
      .mat-cell,
      .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 6px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        line-height: 45px;
        font-size: smaller;
        border-color: #f7f7f7;
      }
      .mat-cell {
        font-family: "Lato", sans-serif;
      }
      .mat-header-cell:first-of-type,
      .mat-cell:first-of-type,
      .mat-footer-cell:first-of-type {
        padding-left: 20px;
      }
      .action {
        button {
          // margin-left: 10px;
          border: none;
          background: transparent;
          font-size: 20px;

          // .update {
          //   color: #56bb4a;
          // }

          // .cancel {
          //   color: red;
          // }
        }
      }
    }
    .btn-wrapper {
      text-align: right;
      margin-top: 14px;
      button {
        background-color: #ed3833;
        border-color: #ed3833;
        padding: 7px 12px;
        font-size: 14px;
        font-family: "Monteserrat", sans-serif;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: 6px;
      }
    }
  }
}
