* {
    font-family: "Montserrat", sans-serif !important;
  }
  .mat-expansion-panel{
      box-shadow: none !important;
      border: 1px solid #efefef;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0 !important;
     
  }
  
  .mat-expansion-panel-header{
      border-bottom: 1px solid #efefef;
  }
  
  .basic-container {
    margin: 0 auto;
    max-width: 1000px;
    
      .button {        
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
        }
        .save_btn {
          border: 0;
          outline: none;
          background: #00c48c;
          color: #fff;
          font-size: 12px;
          line-height: 1;
          padding: 10px 25px;
          border-radius: 6px;
        }
    
    
  
    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #393939;
      font-weight: bold;
      text-transform: uppercase;
      margin-left:30px;
    //  border-bottom: 1px solid #efefef;
    }
  }
  

  

  .main_wrapper {
    background: white;
    padding-bottom: 20px;
    .form-check{
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 26px;    
      letter-spacing: 0.2px;
    padding: 40px;
     
    }
   
  }
  .goals_wrapper{
    margin-bottom: 60px;
  }
  
  .main_goals{
    .page_center {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 6px;
      box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
      .left {
        width: 40%;
        .goals {
          padding: 20px;
          p {
            color: #393939;
            font-size: 12px;
          }
        }
      }
  
      .middle {
        width: 30%;
        .comments {
          padding: 20px;
          p {
            font-size: 12px;
            color: #727373;
          }
        }
      }
      .right {
        width: 30%;
        .comments {
          min-height: 113px;
        }
      }
      h3 {
        padding: 20px;
        text-align: center;
        margin-bottom: 0px !important;
        color: #727373;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
  
.middle > div {
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
}
  
  .left > div {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
  
  .right > div {
    border-bottom: 1px solid #efefef;
  }
  
  .page_center > div > div {
    min-height: 120px;
    border-right: 1px solid #efefef;
  }
  
  .page_center > div > .heading {
    min-height: auto;
  }
  
  .page_center > div > div:last-child {
    border-bottom: 0 !important;
  }
  



  //Achievement
  
 
.achievements_wrapper {
  padding-top: 35px;
 
  .page_center {
  
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 6px;
    box-shadow: -11px 9px 21px rgba(173, 182, 217, 0.170884);
    .left {
      width: 50%;
      .achievements {
        padding: 20px;
        p {
          color: #393939;
          font-size: 12px;
        }
      }
    }

    .right {
      width: 50%;
      .comments {
        padding: 20px;
      }
    }
    h3 {
      padding: 20px;
      text-align: center;
      margin-bottom: 0px !important;
      color: #727373;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
 
  
  
  .form_wrapper{
      margin-bottom: 60px;
  
  }
  .main_form{
      .head{
          border-bottom: 1px solid #efefef;
          padding: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #727373;
      }
      
     .page_center{
      display: flex;
      flex-wrap: wrap;
      background-color: white;
     
  
      .left_form{
          width: 33.3%;
          .params{
              padding:20px;
          }
      }
      .middle_form{
          width: 33.3%;
          .numbers{
              margin-left: 10px;
             // margin-top: 10px;
          .serial-number {
              display: inline-block;
     
              padding: -10px;
              font-size: 12px;
              font-weight: lighter !important;
              line-height: 22px;
              color: #fff !important;
              text-align: center;
              margin-left: 12px;
              background-color: #727373;
              border-radius:50px;
              position: relative;
              justify-content: center;
              top: 5px;
              margin-bottom: 20px;
              height: 22px;
              width: 22px;
              }
              .non-active{
                  background-color: #EAEAEA;
                  color: #888888 !important;
              }
          }
              .comment{
                  font-family: Lato !important;
                  font-style: normal;
                  margin-left: 10px;
                 margin-right: 10px;
                  font-size: 11.5px;
                  line-height: 15px;
                  
                  color: #727373;
              }
      }
      .right_form{
          
        width: 33.3%;
        .review{
           border-right: none !important;   
        }
        .heading{
            border-right: none !important;

        }
        .numbers{
            margin-left: 10px;
           // margin-top: 10px;
        .serial-number {
            display: inline-block;
   
            padding: -10px;
            font-size: 12px;
            font-weight: lighter !important;
            line-height: 22px;
            color: #fff !important;
            text-align: center;
            margin-left: 12px;
            background-color:#7ed321 ;
            border-radius:50px;
            position: relative;
            justify-content: center;
            top: 5px;
            margin-bottom: 20px;
            height: 22px;
            width: 22px;
            }
            .non-active{
                background-color: #EAEAEA;
                color: #888888 !important;
            }
        }
            .comment{
                font-family: Lato !important;
                font-style: normal;
               margin-left: 10px;
               margin-right: 10px;
                font-size: 11.5px;
                line-height: 15px;
               
               
                color: #727373;
            }

      }
    
     }
     .heading{
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      border-top: 1 px solid #efefef;
      padding-left:150px;
      padding-top: 20px;
      height: 55px;
      padding: 20px;
      //   text-align: center;
      margin-bottom: 0px !important;
      color: #727373;
      font-size: 13px;
  
     }
     .left_form>div{
      border-right: 1px solid #efefef;
     }
  }
  // Apraisee Rating
  .top_inner {
    padding: 20px 24px;
  }
  
  .top_title_wrapper {
    text-align: center;
    h3 {
      color: #393939;
      font-weight: bold;
      font-size: 15px;
    }
  }
  
  .two_col_wrapper {
    display: flex;
  }
  
  .two_col_wrapper > div {
    width: 50%;
    border: none;
    padding: 15px 40px 0;
  }
  
  .two_col_wrapper > div > div {
    border: 0 !important;
  }
  
  .left_col_wrapper {
    border-right: 1px solid #efefef !important;
    display: flex;
    justify-content: flex-end;
  }
  
  .content {
    span {
      font-size: 12px;
      text-align: center;
      display: block;
      margin-bottom: 10px;
      color: #393939;
    }
    p {
      text-align: center;
      font-size: 32px;
      color: #7ed321;
    }
  }
  
  .right_col_wrapper {
    display: flex;
    justify-content: flex-start;
    .content {
      p {
        color: #417505 !important;
      }
    }
  }
  
  .top_title_wrapper {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5px !important;
    }
  }
  
  .basic-container {
    padding-top: 35px;
  }
  :host ::ng-deep .mat-expansion-panel-body {
      padding: 0 !important;
  }
  ::ng-deep .mat-expansion-indicator::after{
      color: purple !important;
      
  }
 :host :ng-deep .header_inner{
     min-height: 110px !important;

  }