<div class="main_wrapper">
  <div class="container">
    <div class="top_wrapper">
      <h2>Welcome to Performance Appraisal - 2021</h2>
      <p>Review Period - 01 March 2021 - 30 March 2021</p>
    </div>
    <div class="mid_wrapper">
      <div class="mid_inner">
        <div class="col-4">
          <div class="card_inner">
            <h4>Appraisee</h4>
            <div class="img-wraper">
              <img src="../../../../../../assets/img/user.jpg" alt="" />
            </div>
            <p class="name">Himani Singh</p>
            <span>Software Engineer L1</span>
          </div>
        </div>

        <div class="col-4">
          <div class="card_inner">
            <h4>Appraiser</h4>
            <div class="img-wraper">
              <img src="../../../../../../assets/img/user.jpg" alt="" />
            </div>
            <p class="name">Amit Handa</p>
            <span>Vice President</span>
          </div>
        </div>

        <div class="col-4">
          <div class="card_inner">
            <h4>Approver</h4>
            <div class="img-wraper">
              <img src="../../../../../../assets/img/user.jpg" alt="" />
            </div>
            <p class="name">Amit Handa</p>
            <span>Vice President</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Wrapper -->
    <div class="bottom_wrapper">
      <div class="bottom_text_wrapper">
        <h4>
          IMPORTANT :
          <span>
            Please do not start filling the annual review form unless you read
            the complete instructions
          </span>
        </h4>
        <ol>
          <li>
            The appraisal process will be having 3 stages of evaluation namely
            self(appraisee), appraiser and approver.
          </li>
          <li>
            The employee has to fill their part (self) and submit the form
            (uploaded on MIS) followed by appraiser for evaluation and so on
            till the final rating is locked.
          </li>
          <li>No print outs or snapshots of the form would be allowed.</li>
          <li>
            The review forms contain confidential information and should be
            treated with due respect for the individual's privacy. Any violation
            of the same would be viewed strictly.
          </li>
          <li>
            The appraisal form should contain sufficient information and
            analysis to support the Self and Appraiser’s Ratings. Incomplete
            forms or forms with inadequate data will be sent back for a
            re-review.
          </li>
          <li>
            Employees are advised to refrain themselves from giving a
            generalized score and if the ratings are not supported by proper
            comment/feedback then will not qualify for rating factor.
          </li>
          <li>
            Employees are requested to rate themselves against each
            competency/KRA where a particular score signifies any of the below
            mentioned factors.
          </li>
        </ol>
      </div>

      <!-- Rating scale sectiom -->
      <div class="rating_section">
        <h4>RATING SCALE GUIDE</h4>
        <div class="pointers_wrapper">
          <span class="serial_number">1</span>
          <div class="pointers">
            <strong>Below Expectations -</strong>
            <p>
              Unacceptable - Consistently fails to meet job requirements;
              performance clearly below minimum requirements. Immediate
              improvement required to maintain employment.
            </p>
          </div>
        </div>
        <div class="pointers_wrapper">
          <span class="serial_number">2</span>
          <div class="pointers">
            <strong>Meet Some Expectations -</strong>
            <p>
              Occasionally fails to meet job requirements; performance must
              improve to meet expectations of the position
            </p>
          </div>
        </div>
        <div class="pointers_wrapper">
          <span class="serial_number">3</span>
          <div class="pointers">
            <strong>Meet Expectations -</strong>
            <p>
              Able to perform 100% of job duties satisfactorily. Normal guidance
              and supervision are required
            </p>
          </div>
        </div>
        <div class="pointers_wrapper">
          <span class="serial_number">4</span>
          <div class="pointers">
            <strong>Exceeds Expectations -</strong>
            <p>
              Frequently exceeds job requirements; all planned objectives were
              achieved.
            </p>
          </div>
        </div>
        <div class="pointers_wrapper">
          <span class="serial_number">5</span>
          <div class="pointers">
            <strong>Super Exceeds Expectation -</strong>
            <p>
              Consistently exceeds job requirements; this is the highest level
              of performance that can be attained.
            </p>
          </div>
        </div>
      </div>
      <div class="button">
        <button routerLink="/appraisal/appraisal-form">START</button>
      </div>
    </div>
  </div>
</div>
