@import "~bootstrap/scss/bootstrap";
@import "../node_modules/primeng/resources/themes/mdc-light-deeppurple/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pi-home:before {
  display: none;
}
.p-breadcrumb ul li:nth-child(2) {
  display: none !important;
}
.mat-calendar {
  font-family: "Montserrat", sans-serif !important;
  zoom: 1.16;
}
.mat-calendar-header,
.mat-calendar-content {
  zoom: 0.85;
  font-family: "Monteserrat", sans-serif !important;
}

.mat-calendar {
  background-color: white;
}
.pagination {
  align-items: flex-end;
  margin-left: 0 auto !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}

.pagination > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0px;
  color: #5d38db;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 12px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
}

.page-item.active .page-link {
  border-radius: 8px;
  font-size: 12px;
  background-color: #5d38db;
  box-shadow: 0 8px 14px 0 rgba(93, 56, 219, 0.45);
}
.p-breadcrumb {
  margin-top: 20px;
  width: fit-content;
  background: none;
  border: none;
  padding: 0;
}
.p-breadcrumb ul li.p-breadcrumb-chevron {
  font-size: 12px;
}
.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: #8a49c6;
  font-family: "Lato";
  font-size: larger;
}

.p-breadcrumb ul li:last-child .p-menuitem-text {
  color: #979797;
  pointer-events: none;
}

.p-breadcrumb ul li:last-child {
  pointer-events: none;
}

.pagination > .active > a:hover,
.pagination > .active > a:focus {
  background-color: #5d38db !important;
  box-shadow: 0 8px 14px 0 rgba(93, 56, 219, 0.45);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
  background: #ffffff;
  border: 0.62px solid rgba(151, 151, 151, 0.202814);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 3.72px;
  margin: 10px;
  margin-top: 25px;
}

.mat-form-field-underline {
  display: none;
}
.mat-checkbox-inner-container {
  height: 12px !important;
  line-height: 0;
  margin: auto;
  margin-right: 3px !important;

  width: 12px !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #8a63bb !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #8a63bb;
}

// .modal-body{
//   position: static !important;
// }
// .modal-content{
//   position: static !important;
// }
// .modal-dialog{
//   position: static !important;
// }
// .pdfViewer.removePageBorders .page {
// margin: 0 !important;
// }
// .ng2-pdf-viewer-container{
//   margin-left: -16px;
// }
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 818px !important;
    margin: 1.75rem auto;
  }
}

// .mat-dialog-container#mat-dialog-0 {
// background-color: #f8f8f8;
// padding: 50px 30px;
// border-radius: 24px;
// }
.mat-dialog-container {
  // background-color: #f8f8f8;
  padding: 50px 30px !important;
  border-radius: 24px !important;
}
.mat-dialog-container#mat-dialog:nth-child(even) {
  padding: 40px 35px;
  border-radius: 25px;
}
.mat-dialog-container#mat-dialog:nth-child(odd) {
  padding: 40px 35px;
  border-radius: 25px;
}
.confirm-dialog-container .mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  padding: 0px;
}
.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span {
  padding: 35px 16px;
  text-align: center;
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: inherit;
  position: absolute;
}

.mat-calendar-header,
.mat-calendar-content {
  zoom: 0.85;
  font-family: "Monteserrat", sans-serif !important;
}

.mat-calendar {
  zoom: 1.05;
}
.mat-select-arrow-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d38db;
  // background: red;
  border-radius: 20px;
  position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 56, 200, 0.6);
}

.mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}
.special-date {
  background-color: #d2d6dd;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}
.myPanelClass {
  margin-top: 25px !important;
  min-width: calc(100% + 20px) !important;
  margin-left: 6px !important;
}
// .cdk-overlay-pane {
//   margin-top: 30px !important;
//   min-width: 200px !important;
//   margin-left: 5px !important;
// }

.mat-button-toggle {
  padding: 1px 15px !important;
  margin: 8px 8px;
  display: block;
  background-color: #cfc9e4 !important;
  border: none;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 30px !important;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 28px !important;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border: none !important;
}
// Sorting Arrow
.mat-sort-header-arrow[style] {
  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}
// My custom ascending arrow
[aria-sort="ascending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: " <i class=" fa fa-sort ">...</i>";
        top: -1.6em;
        position: absolute;
      }
    }
  }
}

// My custom descending arrow
[aria-sort="descending"] {
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-indicator {
      &::before {
        content: "<i class=" fa fa-sort ">...</i>";
        top: -2.4em;
        position: absolute;
      }
    }
  }
}

.mat-button-toggle-checked {
  color: #fff !important;
  background: rgb(108, 43, 226) !important;
  border-color: rgb(108, 43, 226) !important;
}
.mat-calendar {
  width: unset !important;
  height: unset !important;
  height: auto !important;
  border-radius: 4px;
  zoom: 1;
  .mat-calendar-body {
    .mat-calendar-body-label {
      visibility: hidden;
      padding: 0 !important;
    }
  }
}

// .mat-calendar-body-cell-content {
//   width: 50% !important;
//   height: 50% !important;
// }
