<!-- <div class="main_container_wrapper"> -->
<!-- <div class="main_content_wrapper">
  <div class="dashboard_top">
    <app-employee-status></app-employee-status>
  </div>
  <div class="dashboard_mid">
    <div class="dashboard_mid_left">
      <app-dashboard-update></app-dashboard-update>
    </div>
    <div class="dashboard_mid_right">
      <app-leave-counter></app-leave-counter>
      <app-calendar></app-calendar>
    </div>
  </div>
  <div class="dashboard_bottom">
    <app-team-attendance></app-team-attendance>
    <app-team-leave></app-team-leave>
  </div>
</div> -->
<!-- </div> -->

<div class="main">
  <div class="inner">
    <div class="wrapper">
      <p>This page is</p>
      <h1>COMING SOON</h1>
    </div>
  </div>
</div>
